@font-face {
    font-family: proxima-bold;
    src: url(../assets/fonts/proxima_ssv/Proxima-Nova-Alt-Bold.otf);
}

@font-face {
    font-family: proxima;
    src: url(../assets/fonts/proxima_ssv/ProximaNova-Regular.otf);
}

@font-face {
    font-family: Monoton;
    // src: url(.././assets/fonts/Monton/Monoton-Regular.ttf);
    src: url(../assets/fonts/Monoton/Monoton-Regular.ttf)
}

///hebrew
@font-face {
    font-family: Secular_One;
    src: url(../assets/fonts/Secular_One/SecularOne-Regular.ttf)
}

@font-face {
    font-family: Varela_Round;
    src: url(../assets/fonts/Varela_Round/VarelaRound-Regular.ttf)
}